@import "variables.scss";
@include mobile {
  .card {
    padding: 0 !important;
  }

  .album-name {
    font-size: 1rem !important;
  }

  .wrapper > i.material-icons {
    padding: 6px !important;
    font-size: 1.8rem !important;
  }

  .artist-name {
    font-size: 0.9rem !important;
  }

  .letter-container-list-item {
    margin-top: -38px !important;
    height: 15px !important;
    font-size: 0.8rem !important;
    width: 15px !important;
    line-height: 15px !important;
  }

  .xplicit-language-letter {
    height: 15px !important;
    width: 15px !important;
    line-height: 15px !important;
    font-size: 0.8rem !important;
  }

  .chip {
    span {
      max-width: 110px;
    }
  }
}

.album-name {
  color: $black;
  font-size: 1.3em;
  padding-top: 16px;
  padding-bottom: 12px;
}

.chart-card-content {
  padding: 0 16px 16px 16px !important;
  cursor: pointer;
}

.chip {
  color: $author-chip-text-color;
  background-color: $white;

  span {
    font-size: 15px;
    font-weight: normal;
    color: $secondary-text;
    max-width: 170px;
  }
}

div.wrapper {
  display: relative;

  img {
    width: 100%;
  }

  i.material-icons {
    position: absolute;
    padding: 12px;
    bottom: 0;
    right: 0;
    /* background: radial-gradient(circle at bottom right, rgba(80, 80, 80, 1), rgba(255, 255, 255, 0)) !important; */
    /* Set this to have the color match the current text color */
    color: $primary-color !important;
    font-size: 2.4em;
    cursor: pointer;
  }
}

.xplicit-language-container {
  text-align: right;
  display: inline-block;
  width: 10px;
  margin-bottom: 4px;
  margin-left: 16px;
}

.xplicit-language-letter {
  position: absolute;
  right: 16px;
  margin-top: -40px;
  background-color: $primary-color-darker;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: $white;
}
