@import "variables.scss";
@include mobile {
  img.favourite-item-img {
    width: 30px !important;
    height: 30px !important;
  }

  #toast-container {
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: 2%;
  }

  .favourite-title-cell {
    max-width: 120px !important;
  }

  .favourite-artist-cell {
    max-width: 100px !important;
  }

  div.favourite-title {
    display: block !important;
    font-size: 1.1rem !important;
    margin-left: 0 !important;
  }

  div.favourite-artist-name {
    display: block !important;
    font-size: 0.9rem;
    color: $secondary-text;
  }

  pre {
    margin: 0 !important;
  }

  .favourite-letter-container {
    margin-top: 0 !important;
  }

  img.favourite-artist-img {
    width: 100px !important;
    height: 100px !important;
  }

  .favourite-letter-container {
    height: 15px !important;
    width: 15px !important;
    line-height: 15px !important;
    font-size: 0.8rem !important;
  }
}

span.favourite-track-duration {
  font-size: 1.3em;
}

pre {
  font-family: 'Roboto' !important;
  font-size: 1.3em;
}

img.favourite-item-img {
  width: 60px;
  height: 60px;
}

div.favourite-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2rem;
  margin-left: 20px;
  font-family: 'Roboto';
}

div.favourite-img-title-container {
  display: flex;
  left: 0;
  align-items: center;
  /* align vertical */
}

.favourite-explicit-language {
  text-align: right;
  display: inline-block;
  width: 10px;
  margin-bottom: 4px;
  margin-left: 16px;
}

.favourite-letter-container {
  background-color: $primary-color-dark;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: $white;
}

tbody tr:hover {
  background: #f0f0f0;
  cursor: pointer;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 2%;
  right:6%;
}
