@import 'variables.scss';
@include mobile {
  .info-cover {
    max-width: 40% !important;
  }

  .info-title {
    font-size: 1.4rem;
  }

  .info-inline-text {
    margin-top: 0px !important;
  }

  span.info-artist-name {
    font-size: 1.1rem !important;
  }

  img.info-artist-img {
    width: 30px !important;
    height: 30px !important;
  }

  .info-inline-title {
    max-width: 148px;
  }

  .inline-info-container {
    font-size: 0.9rem !important;
    margin-top: 12px;

    i {
      font-size: 1.4rem !important;
    }

    .info-xplicit-letter {
      height: 15px !important;
      font-size: 0.8rem !important;
      width: 15px !important;
      line-height: 15px !important;
    }
  }
}
@include tablet {
  img.info-cover {
    max-width: 30% !important;
  }

  .info-inline-title {
    max-width: 180px;
  }
}

.info-cover {
  margin-top: 16px;
}

span.info-artist-name {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 16px;
  color: $secondary-text;
}

.valign-wrapper > span {
  margin-left: 16px;
}

.material-icons {
  color: black !important;
}

.info-xplicit-container {
  text-align: right;
  display: inline-block;
  width: 10px;
  margin-top: 10px;
}

.info-xplicit-letter {
  background-color: $primary-color-darker;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
  color: $white;
}

.info-inline-text {
  margin-top: 12px;
  margin-right: 12px;
  display: inline-block;
  color: $secondary-text;

  i {
    position: relative;
    top: 5px;
    margin-right: 6px;
    fill: #fff;
    color: $icons-active !important;
  }
}

.info-inline-title {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
}
