@import "variables.scss";

@include mobile {
  td.track-duration {
    font-size: 0.9rem !important;
  }

  button.track-action {
    margin-left: 10px !important;
  }

  td.track-title-cell {
    max-width: 120px;
  }

  td.track-actions-column {
    width: 130px !important;
  }
  td.track-duration, th.track-duration-heading {
    text-align: right !important;
  }

  .track-item-xplicit-container {
    font-size: 0.9rem !important;
  }

  .track-item-xplicit-letter {
    margin-bottom: 11px !important;
    height: 15px !important;
    font-size: 0.8rem !important;
    width: 15px !important;
    line-height: 15px !important;
  }

}

.track-item-xplicit-container {
  text-align: right;
  display: inline-block;
  width: 10px;
  margin-bottom: 4px;
}

.track-item-xplicit-letter {
  background-color: $primary-color-darker;
  height: 20px;
  width: 20px;
  margin-top: 10px;
  text-align: center;
  line-height: 20px;
  color: $white;
}

button.track-action {
  margin-left: 30px;
}

td.track-actions-column {
  width: 170px;
}

.track-duration,
.track-duration-heading {
  text-align: center !important;
  width: 85px !important;

  &:not(th) {
    color: $secondary-text;
  }
}

.track-position {
  text-align: center;
  width: 35px;

  &:not(th) {
    color: $secondary-text;
  }
}

.track-card {
    padding: 8px !important;
}
