@import "variables.scss";
@import "_favourites.scss";

.collapsible-body {
  background-color: $card-bg-color !important;
}

h6.account-info-title {
  font-size: 1.3rem;
  margin-bottom: 1px;

  &:last-of-type {
    margin-top: 12px;
  }
}

p.account-info-value {
  margin-top: 6px;
  color: $secondary-text;
}
