@import 'variables.scss';
@import "_track-item.scss";
@import "_info.scss";

td > div {
  display: inline-block;
}

.modal:not(.modal-fixed-footer) {
  width: auto !important;
  right: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

table.bordered {
  td:last-child,
  td:nth-last-child(2),
  th:last-child,
  th:nth-last-child(2) {
    text-align: right;
  }

  th {
    padding-bottom: 2px !important;
  }
}

.container {
  margin-top: 1.8em;
}
