@import "variables.scss";
@import "_card-item.scss";

img.artist-img {
  width: 110px !important;
  margin-top: 16px;
  margin-left: 12px;
  height: 110px !important;
}

.artist-main-info {
  display: inline-block;
  margin-left: 16px;

  & > h4 {
    display: inline-block;
    margin-bottom: 0;
  }
}

.artist-card {
  cursor:pointer;
}

.artist-name {
    font-size: 1.1em;
}

h5.artist-top-title {
    margin-top: 26px;
    margin-left: 12px;
    margin-bottom: 0px;
}
