@import 'variables.scss';

@include mobile {
  .brand-logo {
      font-size: 1.8rem !important;
  }
}

body {
  background-color: $page-bg-color;
}

nav {
  background-color: $white !important;

  .brand-logo {
    color: $black !important;
  }

  li > a {
    color: $black !important;
  }

  li.active > a {
    color: $white !important;
    background-color: $primary-color-light;
  }
}

#sign-out-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  color: $black;
}

.btn:hover {
  background-color: $primary-color-light !important;
}

.nav-wrapper {
  margin: 0 auto !important;
  max-width: 1280px !important;
  width: 90% !important;
}
/* label focus color */
.input-field input[type]:focus + label {
  color: $primary-color !important;
}
/* label underline focus color */
.input-field input[type]:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}
/* label focus color */
.input-field input[type]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: $primary-color !important;
}
/* label underline focus color */
.input-field input[type]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.input-btn {
  background-color: $primary-color !important;
}

div.chip {
  background-color: $white !important;
}

#sign-out-btn {
    margin-left: 12px;
}

.l5ths,
.m5ths,
.s5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}
@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}
