@import 'variables.scss';
@import "_card-item.scss";

div.card-search {
  padding: 16px;
}

.search-card-content {
  background-color: $page-bg-color;
}

ul.dropdown-content.select-dropdown li span {
    color: $primary-color; /* no need for !important :) */
}

.input-btn {
  margin-left: 12px;
}
