@import "variables.scss";
@import "_info.scss";

@include mobile {
  th.track-duration-heading > i.material-icons {
    font-size: 1.4rem;
  }

  td.action-column {
    width: 140px !important;
  }

  div.card {
    padding-left: 16px;
    padding-right: 16px;
  }
}

pre#lyrics {
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

audio.react-audio-player {
  width: 100%;
}
