$primary-color: #FF5722;
$accent-color: #448AFF;
$primary-color-light: lighten($primary-color, 14%);
$primary-color-dark: darken($primary-color, 14%);
$primary-color-darker: darken($primary-color, 18%);
$white: #FFFFFF;
$black: #000000;
$secondary-text: lighten($black, 50%);
$icons-active: lighten($black, 46%);
$author-chip-text-color: lighten($black, 13%);
$page-bg-color: #F6F6F6;
$mobile-width: 600px;
$trending-side-margins: 12px;
$card-bg-color: darken($white, 2%);

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
